<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
    <h3>Edit your Listing</h3>
    <div class="col-8 offset-2 ">
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate>
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title  %>" placeholder="Enter title" type="text" class="form-control" id="title" required>
            <div class="invalid-feedback">
                Title is required.
            </div>
            <br>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" required id="description"><%=listing.description  %></textarea>
            <div class="invalid-feedback">
                Description is required.
            </div>
            <br>
        </div>
        <div>
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" value="<%=listing.image.url%>"  placeholder="Enter image URL/Link" required type="text" class="form-control" id="image">
            <div class="invalid-feedback">
                Image Link is required.
            </div>
            <br>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%=listing.price %>" placeholder="Enter price" required type="number" class="form-control" id="price">
                <div class="invalid-feedback">
                    Price is required.
                </div>
                <br>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%=listing.country  %>" required placeholder="Enter country" class="form-control" type="text" id="country">
                <div class="invalid-feedback">
                    Country is required.
                </div>
                <br>
            </div>
        </div>
            
        <div>
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]"  value="<%=listing.location  %>" required placeholder="Enter location" type="text" id="location" class="form-control">
            <div class="invalid-feedback">
                Location is required.
            </div>
            <br>
        </div>
        <button class="btn btn-dark add-btn">Edit</button>
        <br><br><br>
    </form>
</div>
</div>
</body>
<script src="/public/js/script.js"></script>